body {
  text-align: center;
  background-color: #000;
  color: #ddd;
}

#location {
  color: #1688f0;
}

.circles {
  margin-bottom: 100px;
}

.yellowCir,
.yellowDrop {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 30vw;
}

.greenCir,
.greenDrop {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 30vw;
}

.greenDrop,
.yellowDrop {
  z-index: 10;
}
